################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SyncSyntax/SyncSyntax/bin/Debug/net9.0
/SyncSyntax/.vs/SyncSyntax
/SyncSyntax/SyncSyntax/obj
/SyncSyntax/.vs/ProjectEvaluation
